body {
    background-color: #5271ff;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

dl {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid black;
}

dt {
    padding: 1rem;
    background-color: white;
    font-weight: bold;
}

dd {
    padding: 1rem;
}


ul{
width:70%;
padding: 1rem;
margin:io ;


}




a{

    display: block;
    margin: auto;
    text-align: center0;
    padding: 1rem;
}